workflows/03-ai-lead-enrichment/AI Lead Enrichment.json
{
  "name": "AI Lead Enrichment",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ",
          "mode": "list",
          "cachedResultName": "Form Submissions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a2cb60e3-dcc5-4a9d-8c31-5233515df266",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "fApDn8dYUZFw1oxg",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": $('Edit Fields').item.json['prompt']}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "24c1846e-043e-4765-9cba-72718c6d5de3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "128ee45f-4514-4b55-af52-e5ea87691f64",
              "name": "prompt",
              "value": "=You are a sales assistant. Write a short, friendly and personalized outreach email for the following lead:\n\nName: {{ $json['FULL NAME'] }}\nEmail: {{ $json['EMAIL'] }}\nMessage they sent: {{ $json['MESSAGE'] }}\n\nThe email should:\n- Address them by first name\n- Reference what they said in their message\n- Briefly mention how we can help\n- End with a clear call to action\n- Be no longer than 150 words\n\nReturn only the email text, nothing else.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4460584f-2664-4ccc-82be-ce2c979832e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ",
          "mode": "list",
          "cachedResultName": "Form Submissions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "AI EMAIL": "={{ $('HTTP Request').item.json.choices[0].message.content }}",
            "EMAIL": "={{ $('Google Sheets Trigger').item.json['EMAIL'] }}"
          },
          "matchingColumns": [
            "EMAIL"
          ],
          "schema": [
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FULL NAME",
              "displayName": "FULL NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI EMAIL",
              "displayName": "AI EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "45286aa9-af8a-44ce-baff-3d7834eeb0ee",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gQj1yleGoxhart4K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AKQSE5J20",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": "=🤖 AI Email Generated for New Lead!\n\n👤 Name: {{ $('Google Sheets Trigger').item.json['FULL NAME'] }}\n📧 Email: {{ $('Google Sheets Trigger').item.json['EMAIL'] }}\n\n✉️ Generated Email:\n{{ $('HTTP Request').item.json.choices[0].message.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        832,
        0
      ],
      "id": "d561bcd6-dd5c-406a-a54c-7e03fa444d92",
      "name": "Send a message",
      "webhookId": "b0c66bc9-a7d3-40fb-9fd3-cd3084bab2cf",
      "credentials": {
        "slackOAuth2Api": {
          "id": "FjHQAO3jx06qk5fw",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "2df77c80-2d8b-4169-9af1-66a1fc9b7769",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "michealabolaji2@gmail.com",
        "subject": "⚠️ Workflow Error: AI Lead Enrichment Failed",
        "message": "=Something went wrong in your AI Lead Enrichment workflow.  Error: {{ $json.error.message }} Time: {{ $now }}  Check your n8n dashboard for details.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "149eb0ce-f042-49d7-a2c3-34734ca42e91",
      "name": "Send a message1",
      "webhookId": "acec99da-c18f-4440-b6cc-7a8feaaf2a96",
      "credentials": {
        "gmailOAuth2": {
          "id": "OAjypNLcNi1uoW5d",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5781c280-c694-4c67-9c17-39fadfffe7b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5402eaf06c1226018dec2665640872096695b4d92c64ee282ed129fa6ff58a"
  },
  "id": "T3znSC9moxfnMrqA",
  "tags": []
}