workflows/01-form-to-sheets-email/Form to Sheets + Email Confirmation.json
{
  "name": "Form to Sheets + Email Confirmation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact Form",
        "formDescription": "Send us a message and we'll get back to you within 24 hours.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "593c2bd7-b750-44e6-8939-6bcf21f4da5e",
      "name": "On form submission",
      "webhookId": "6195cada-3867-4f76-a27d-68858a99c192"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ",
          "mode": "list",
          "cachedResultName": "Form Submissions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIMESTAMP": "={{ $now }}",
            "FULL NAME": "={{ $json['Full Name'] }}",
            "EMAIL": "={{ $json['Email'] }}",
            "MESSAGE": "={{ $json['Message'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FULL NAME",
              "displayName": "FULL NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "051ddaae-7860-4c29-859a-53d3b1df83a1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gQj1yleGoxhart4K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email'] }}",
        "subject": "=Thanks for reaching out, {{ $('On form submission').item.json['Full Name'] }}!",
        "message": "=Hi {{ $('On form submission').item.json['Full Name'] }},  Thanks for getting in touch! I've received your message and will get back to you within 24 hours.  Here's what you submitted: - Name: {{ $('On form submission').item.json['Full Name'] }} - Message: {{ $('On form submission').item.json['Message'] }}  Talk soon, [Your Name]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "bf67904b-41dd-40e5-bbf1-ed037db305ce",
      "name": "Send a message",
      "webhookId": "98ce1a13-605b-47a4-829a-bfc4c81b571d",
      "credentials": {
        "gmailOAuth2": {
          "id": "OAjypNLcNi1uoW5d",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "54be60ce-ebf5-46b4-83c5-096fd2e2cf0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5402eaf06c1226018dec2665640872096695b4d92c64ee282ed129fa6ff58a"
  },
  "id": "4ukBdBVkEzywk7bz",
  "tags": []
}