workflows/04-ai-email-classifier/AI Email Classifier & Auto-Responder.json
{
  "name": "AI Email Classifier & Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4d5ee0e6-175c-4560-830a-f0d0115c31b6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "OAjypNLcNi1uoW5d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "009de5d8-94fa-44ad-ba37-929161095cbb",
              "name": "prompt",
              "value": "=You are an email assistant. Classify the following email and write an appropriate reply.\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nMessage: {{ $json.text }}\n\nDo the following:\n1. Classify the email as one of: Sales Inquiry, Support Request, Spam, Partnership, or General\n2. Write a short professional reply (max 100 words)\n\nRespond in this exact format:\nCATEGORY: [category]\nREPLY: [your reply]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "ad12c4db-4548-4926-85c4-380e434e3a9b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": $('Edit Fields').item.json['prompt']}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "be75b22a-8ef3-4727-b562-28f6e9cc21fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json['From'] }}",
        "subject": "=Re:Re: Re: {{ $('Gmail Trigger').item.json['Subject'] }}",
        "message": "={{ $('HTTP Request').item.json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "d173c883-4cb1-4ec6-a644-502d62f338c8",
      "name": "Send a message",
      "webhookId": "72862627-c74a-4aaa-b9ea-b304c3a349f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "OAjypNLcNi1uoW5d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "0a15ef17-863d-4885-941a-a7be6d9a2cef",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "michealabolaji2@gmail.com",
        "subject": "⚠️ Workflow Error: AI Email Classifier Failed",
        "message": "=Something went wrong in your AI Email Classifier workflow.\n\nError: {{ $json.error.message }}\nTime: {{ $now }}\n\nCheck your n8n dashboard for details.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        0
      ],
      "id": "03cc425f-16f5-4bb4-bb64-1104e049e7ad",
      "name": "Send a message1",
      "webhookId": "631efc80-9a3b-4d0b-8ce5-580dfc90a393",
      "credentials": {
        "gmailOAuth2": {
          "id": "OAjypNLcNi1uoW5d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "80a899de-01c6-4633-9779-414a75a2aeb0",
              "leftValue": "={{ $('HTTP Request').item.json.choices[0].message.content.includes('CATEGORY: Spam') }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "cd7ffdea-67fb-4773-b8f1-d295c3035bbd",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "73994256-c0a2-4114-a924-1b3f0c376554",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5402eaf06c1226018dec2665640872096695b4d92c64ee282ed129fa6ff58a"
  },
  "id": "MC8JaE4Lg9muo4mt",
  "tags": []
}