workflows/05-weekly-report-digest/Weekly Report to Gmail Digest.json
{
  "name": "Weekly Report to Gmail Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "676c705d-b1d1-48e8-8048-cdad29f3745d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ",
          "mode": "list",
          "cachedResultName": "Form Submissions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11k9_uuc7bvk7ONmShctEVgBb6bMz3sSLY5m5CRHOkXQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "8a0e07a6-7659-4dbb-ad98-22a45a6a67e0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gQj1yleGoxhart4K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7a9f520-a6a3-4a0a-8071-524a47f082ef",
              "name": "report_data",
              "value": "={{ $input.all().map(item => `Name: ${item.json['FULL NAME']}, Email: ${item.json['EMAIL']}, Message: ${item.json['MESSAGE']}, Time: ${item.json['TIMESTAMP']}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "84ffbd0e-1db7-4f89-8697-a31beb5803c1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": \"You are a business analyst. Here is this week's form submission data:\\n\\n\" + $('Edit Fields').first().json['report_data'] + \"\\n\\nPlease write a clean weekly report summary that includes:\\n1. Total number of submissions\\n2. A brief overview of the messages received\\n3. Any patterns or trends you notice\\n4. A recommended action for the week\\n\\nKeep it under 200 words and write it in a professional email format.\"}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "f0dc26ea-66d1-4d44-b75e-a4601b9d2f64",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "michealabolaji2@gmail.com",
        "subject": "=Weekly Report — {{ $now.toFormat('dd MMM yyyy') }}",
        "message": "={{ $('HTTP Request').item.json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "cc782ea3-3166-4799-b7f5-ef1bf7ea51ef",
      "name": "Send a message",
      "webhookId": "32317753-a58e-4e3e-b972-2f0b7e53530b",
      "credentials": {
        "gmailOAuth2": {
          "id": "OAjypNLcNi1uoW5d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "fd6bb910-34f1-406d-a749-0cd0f07cee46",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1248,
        0
      ],
      "id": "32ebf7c5-ceb5-440c-b0f1-3f1318757bdc",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "michealabolaji2@gmail.com",
        "subject": "⚠️ Workflow Error: Weekly Report Faile",
        "message": "=Something went wrong in your Weekly Report workflow.\n\nError: {{ $json.error.message }}\nTime: {{ $now }}\n\nCheck your n8n dashboard for details.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        0
      ],
      "id": "3121b42c-8ec5-4d72-ac75-8ced1d900894",
      "name": "Send a message1",
      "webhookId": "ed66b580-3583-4499-b1ce-e405d82461d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "OAjypNLcNi1uoW5d",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1bc9df2d-fc2d-49f2-9780-84194998211d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5402eaf06c1226018dec2665640872096695b4d92c64ee282ed129fa6ff58a"
  },
  "id": "ywYWfRVvszkPEX5k",
  "tags": []
}